<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804126384241-83b8ea9pmlvj7sq5qm1okfomg6lbqm9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804126384241-83b8ea9pmlvj7sq5qm1okfomg6lbqm9n</string>
	<key>API_KEY</key>
	<string>AIzaSyAXXRXxG3rtLnWjRtMdIaWL9ophazpIUwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>804126384241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jihyun.CarrotClone</string>
	<key>PROJECT_ID</key>
	<string>carrotclone-15396</string>
	<key>STORAGE_BUCKET</key>
	<string>carrotclone-15396.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804126384241:ios:dd9fa270145b314b2ebbd0</string>
</dict>
</plist>